* * * * * curl http://sample-nodejs:8080 >/proc/1/fd/1 2>/proc/1/fd/2
* * * * * curl lofat-backend-laravel/api/v1/cron:8080 > /dev/null 2>&1

# An empty line is required at the end of this file for a valid cron file.
